.year-header a {
    color: #000000 !important;
    font-size: 24px !important;
    text-decoration: none;
}

.ngram-hover {
}
.active {
  background-color: #AAFFAA;
}

.ngram-hover {
}
.active {
  background-color: #AAFFAA;
}

