{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <script src="{% static "js/local.js" %}"></script> 

{% endblock head %}

{% block main_content %}
<div class="col-md-12"><p>&nbsp;</p>
</div>
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">Details</h4>
    </div>
    <div class="panel-body">
      <p><strong>Title:</strong> {{ object.title }}</p>
      <p><strong>Description:</strong> {{ object.description }}</p>
      <p><strong>First date broadcast:</strong> {{ object.date_first }}</p>
      {% if object.date_last %}       
        <p><strong>Last date broadcast:</strong> {{ object.date_last }}</p>
      {% endif %}  
      {% if object.notes %}
        <p><strong>Notes:</strong> {{ object.notes }}</p>
      {% endif %}
        {% if object.tags.all.count > 0 %}
        <p><strong>Tags:</strong>
            {% for tag in object.tags.all %}
                <a href="/tag/{{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}  
            {% endfor %}</p>
        {% endif %}
        {% if object.bigrams|length > 0 %}
        <p><strong>Bigrams:</strong>
            {% for gram in object.bigrams %}
                {% for term, count in gram.items %}
                    <span class="ngram-hover"><a href="{{ object.get_absolute_url }}conc/{{ term|slugify }}">{{ term }}</a></span>{% if not forloop.parentloop.last %}, {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
        {% endif %}
        {% if object.trigrams|length > 0 %}
        <p><strong>Trigrams:</strong>
            {% for gram in object.trigrams %}
                {% for term, count in gram.iteritems %}
                    <span class="ngram-hover"><a href="{{ object.get_absolute_url }}conc/{{ term|slugify }}">{{ term }}</a></span>{% if not forloop.parentloop.last %}, {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
        {% endif %}
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">Archive details</h4>
    </div>
    <div class="panel-body">
        <p><strong>UMA number:</strong> {{ object.collection_uma_id }}</p>
        <p><strong>IRN:</strong> <a href="{{ object.irn }}">{{ object.irn }}</a></p>
        <p><strong>Previous control number:</strong> {{ object.previous_control_number }}</p>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">Extra details</h4>
    </div>
    <div class="panel-body">
        <p><strong>Format:</strong> {{ object.format }}</p>
        <p><strong>Extent medium:</strong> {{ object.extent_medium }}</p>
        <p><strong>Rights:</strong> {{ object.rights }}</p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Original Files</h4>
    </div>
    <div class="panel-body">
        <p><strong>OCR text file:</strong> <a href="{{ object.text_file.url }}">{{ object.text_file }}</a></p>
        {% if object.pdf_file %}
            <p><strong>Original PDF:</strong> <a href="{{ object.pdf_file.url }}">{{ object.pdf_file }}</a></p>
        {% endif %}
    </div>
  </div>
</div>
<div class="col-md-6">
    {% if object.correction_needed %}    
        <div class="col-md-9">&nbsp;
        </div>    
        <div class="col-md-3"> 
            <div><a class="btn btn-info float-right" href="{{ object.get_absolute_url }}correct" role="button">Correct Text</a><p></p></div>
        </div>
    {% elif object.correction_check %}
        <div class="col-md-9">&nbsp;
        </div>    
        <div class="col-md-3"> 
            <div><a class="btn btn-warning float-right" href="{{ object.get_absolute_url }}check" role="button">Check Text</a><p></p></div>
        </div>
    {% endif %}
 <div class="clearfix"></div> <div class="panel panel-primary">
    <div class="panel-heading"> 
      <h4 class="panel-title">Text</h4>
    </div>
    <div class="panel-body">{% autoescape off %}
        {{ object.body_text_marked }}{% endautoescape %}
    </div>
  </div>
</div>
{% endblock main_content %}
