{% extends "base.html" %}

{% block main_content %}
    <div class="col-md-12">&nbsp;
    </div>
    <div class="col-md-12">
        <a name="top"><h3>Electorate radio talks</h3></a>
        {% regroup talks by get_year as year_list %}
        <nav>
            <ul class="pager">
            {% for year in year_list %}
                <li><a href="#{{ year.grouper }}">{{ year.grouper }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        {% for year in year_list %}
            <div class="pull-left year-header"><a name="{{ year.grouper}}">{{ year.grouper }}</a></div>
            <div class="pull-right"><a href="#top">Back to top</a></div>
            <table class="table table-striped table-hover">
                <tbody>
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-7">
                </colgroup>
                    {% for doc in year.list %}
                        <tr>
                            <td>{{ doc.date_first }}</td>
                            <td><a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>   
        {% endfor %} 
    </div>
{% endblock %}
~                                        
