{% load staticfiles %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static "css/sandstone-bootstrap.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/local.css" %}">
    {% endblock stylesheets %}
    {% block javascript %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
      <script src="{% static "js/bootstrap.js" %}"></script> 
    {% endblock javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Malcolm Fraser Radio Electorate Talks{% endblock %}</title>
</head>

{% block content %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">{# title/header row  #}
            <div class="container-fluid">
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img class="brand" alt="The Malcolm Fraser Radio Talk Archive" src="{% static "imgs/Malcolm_Fraser_1974.jpg" %}" width=60></img></a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'electorates' %}">Electorate Radio Talks</a></li>
                        <li><a href="{% url 'press_statements' %}">Press Statements</a></li>
                    </ul>
                </div>
            </div> <!-- end container fluid-->           
            </nav>

        </div> <!-- end navigation row -->

        <div class="row">{# main content #}
                {% block main_content %}
                {% endblock %}
        </div>{# end content row #}
   

    <div class="row" id="footer">{# footer #}
        {% block footer %}
        {% endblock %}
    </div>
 </div> {# end container-fluid #}
{% endblock %}
