{% load staticfiles %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static "css/sandstone-bootstrap.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/local.css" %}">
    {% endblock stylesheets %}
    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{% static "js/bootstrap.js" %}"></script> 
    {% endblock javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Malcolm Fraser Radio Electorate Talks{% endblock %}</title>
</head>

{% block content %}
    <div class="container">
        <div class="row">
            {% block navigation %}
            <nav class="navbar navbar-inverse" role="navigation">{# title/header row  #}
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}"><img class="brand" src="{% static "imgs/Malcolm_Fraser_1974.jpg" %}" width=60></img></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'electorates' %}">Electorate Radio Talks</a></li>
                        <li><a href="{% url 'press_statements' %}">Press Statements</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock navigation %}
        </div> <!-- end navigation row -->

        <div class="row">{# main content #}
                {% block main_content %}
                {% endblock %}
        </div>{# end content row #}
   

    <div class="row" id="footer">{# footer #}
        {% block footer %}
        {% endblock %}
    </div>
 </div> {# end container-fluid #}
{% endblock %}
